.info-dialog {
  border-radius: 4px;
  max-width: 550px;

  .close-dialog {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }

  .v-card__title {
    font-weight: bold;
  }

  // Flex-based Dialogs
  .info-dialog-flex {
    .row {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .attribute {
        width: 100%;

        .attribute-title {
          font-weight: bold;
        }

        .attribute-content {
          padding-left: 15px;

          &.multiline {
            > div:not(:last-child) {
              margin-bottom: 1rem;
            }
          }
        }
      }

      @media screen and (max-width: 767px) {
        .attribute {
          margin-bottom: 1rem;
        }
      }

      @media screen and (min-width: 768px) {
        margin-bottom: 2rem;

        &.thirds {
          .attribute {
            width: 33.33%;
            width: calc(100% / 3);
          }
        }

        &.half {
          .attribute {
            width: 50%;
          }
        }

        &.whole {
          .attribute {
            width: 100%;
          }
        }

        .attribute {
          &:not(:first-child) {
            padding-left: 0.5rem;
          }
          &:not(:last-child) {
            padding-right: 0.5rem;
          }
        }
      }
    }
  }

  // List-based Dialogs
  .info-dialog-tile {
    .v-list__tile {
      height: auto;
      padding-top: 1rem;
      padding-bottom: 1rem;

      .v-list__tile__title {
        font-weight: bold;
      }

      .v-list__tile__sub-title {
        flex-wrap: wrap;
        padding-left: 15px;

        &.multiline {
          > div:not(:last-child) {
            margin-bottom: 1rem;
          }
        }

        > div {
          display: block;
          flex: 1 1 100%;
          width: 100%;
        }
      }
    }
  }
}
