.form-header {
  border-bottom-width: 1px;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-v {
  .form__label {
    display: block;
  }

  .form__input {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .form__link {
    margin-top: 1rem;
    text-align: center;
  }
}

.input {
  @apply border-gray-500;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  padding: 0.25rem 0.5rem;
}

///////////////////////////////////////////////////////////////////////////////////////////////////

// .input {
//   display: inline-flex;
//   position: relative;
//
//   > input {
//     flex: 1 0 auto;
//     line-height: 1.21428571em;
//     margin: 0;
//     max-width: 100%;
//     padding: .67857143em 1em;
//     padding-right: 1em;
//     padding-left: 1em;
//     text-align: left;
//   }
// }
//
// .ui[class*="left icon"].input > input {
//   padding-left: 2.67142857em !important;
//   padding-right: 1em !important;
// }
//
// .ui.icon.input > input {
//   padding-right: 2.67142857em !important;
// }
//
// .ui[class*="left icon"].input > i.icon {
//   left: 1px;
//   right: auto;
// }
//
// .ui.icon.input > i.icon {
//   cursor: default;
//   position: absolute;
//   line-height: 1;
//   text-align: center;
//   top: 0;
//   right: 0;
//   margin: 0;
//   height: 100%;
//   width: 2.67142857em;
//   opacity: .5;
// }
