.navbar {
  align-items: center;
  border-bottom-width: 1px;
  border-top-width: 1px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  .navbar__left {
    display: flex;
    flex: 1;
    justify-content: flex-start;

    .navbar__dropdown__content {
      left: 0;
    }
  }

  .navbar__right {
    display: flex;
    flex: 1;
    justify-content: flex-end;

    .navbar__dropdown__content {
      right: 0;
    }
  }

  .navbar__link {
    cursor: pointer;
    padding: 1rem;

    &:hover {
      background-color: rgba(167, 182, 194, .3);
    }
  }
}
