@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './button.scss';
@import './info_filter_controls.scss';
@import './input.scss';
@import './list.scss';
@import './navbar.scss';
@import './table.scss';
@import './tooltip.scss';

*, *:focus {
  outline: none !important;
}

*::-moz-focus-inner {
  border: 0 !important;
}

html, body {
  // background-color: #394b59;
}

@responsive {
  .flex-basis-full {
    flex-basis: 100%;
  }

  .flex-basis-half {
    flex-basis: 50%;
  }

  .flex-basis-auto {
    flex-basis: auto;
  }
}

.body-blocked {
  height: 100vh;
  overflow: hidden;
}

.box {
  @apply border-gray-500;
  border-radius: 0.125rem;
  border-style: solid;
  border-width: 1px;
  padding: 1rem;
}

.icon--left {
  margin-right: 0.5rem;
}

.icon--right {
  margin-left: 0.5rem;
}

.link {
  @apply text-blue-500;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.page-title {
  border-bottom-width: 2px;
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}
