@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './alert.scss';
@import './button.scss';
@import './input.scss';
@import './navbar.scss';
@import './table.scss';
@import './tooltip.scss';

*, *:focus {
  outline: none !important;
}

*::-moz-focus-inner {
  border: 0 !important;
}

@responsive {
  .flex-basis-full {
    flex-basis: 100%;
  }

  .flex-basis-half {
    flex-basis: 50%;
  }

  .flex-basis-auto {
    flex-basis: auto;
  }
}

.body-blocked {
  height: 100vh;
  overflow: hidden;
}

.box {
  @apply p-4 border border-gray-500 border-solid rounded-sm;
}

.icon--left {
  @apply mr-2;
}

.icon--right {
  @apply ml-2;
}

.link {
  @apply text-blue-500 cursor-pointer;

  &:hover {
    @apply underline;
  }
}

.page-title {
  @apply border-b-2 font-bold mb-6 text-4xl;
}
