.popper {
  background: #1A202C;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  color: #ddd;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 6px;
  text-align: center;
}

.popper[x-placement^='bottom'] {
  margin-top: 10px;

  .popper__arrow {
    border-color: transparent transparent #1A202C transparent;
  }
}

.popper[x-placement^='top'] {
  margin-bottom: 10px;

  .popper__arrow {
    border-color: #1A202C transparent transparent transparent;
  }
}

.popper[x-placement^='left'] {
  margin-right: 10px;

  .popper__arrow {
    border-color: transparent transparent transparent #1A202C;
  }
}

.popper[x-placement^='right'] {
  margin-left: 10px;

  .popper__arrow {
    border-color: transparent #1A202C transparent transparent;
  }
}
