// @import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

* {
  outline: none !important;
}

// rgba(0,0,0,0.14)
// #5c7080 - blueprintjs blue-ish text
// #ebf1f5 - blueprintjs blue-ish background color
// rgba(191,204,214,.2) - blueprintjs table row background color
// Montserrat,Helvetica Neue,Arial,sans-serif
body {
  background-color: #fafafa;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.single-form-panel {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}

.required-label {
  color: crimson;
}

.page-header, .page-header > h1 {
  margin-top: 0;
}

.list-container {
  margin-top: 1rem;

  .alert {
    width: 100%;
  }

  .empty-notice {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }

  .list-entry-panel {
    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 10px 2px #dddddd;
    }
  
    .list-entry-title {
      font-size: 2rem;
      font-weight: bold;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    .list-entry-detail {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.info-table {
  tr {
    cursor: pointer;
  }

  &.no-modal {
    tbody {
      tr {
        cursor: initial;
      }
    }
  }
}

.class-info {
  .list-group-item {
    border: none;
    padding-bottom: 7px;
    padding-top: 7px;
  }
}

.info-link,
.info-link:hover,
.info-link:focus {
  cursor: pointer;
  text-decoration: underline !important;
  text-decoration-style: dotted !important;
}

.modal-body,
.modal-footer {
  background-color: #ebf1f5;
}

.modal-title {
  font-weight: 600;
}

.modal-footer {
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

// Feather icons
.feather {
  display: inline-block;
  height: 16px;
  vertical-align: text-top;
  width: 16px;
}

.input-group-addon {
  .feather {
    height: 20px;
    width: 20px;
  }
}

// Flexbox rows/columns //
.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

.flex-column {
  padding: 1rem;
  width: 100%;

  > .panel {
    height: 100%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 767px) {
  .flex-column {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .flex-column {
    width: 33.33%;
    width: calc(100% / 3);
  }
}
