// @import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

* {
  outline: none !important;
}

// rgba(0,0,0,0.14)
// #5c7080 - blueprintjs blue-ish text
// #ebf1f5 - blueprintjs blue-ish background color
// rgba(191,204,214,.2) - blueprintjs table row background color
body {
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
}

#register-form,
#login-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}

.required-label {
  color: crimson;
}

.page-header, .page-header > h1 {
  margin-top: 0;
}

.info-table {
  tr {
    cursor: pointer;
  }

  &.no-modal {
    tbody {
      tr {
        cursor: initial;
      }
    }
  }
}

.info-link {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.modal-body,
.modal-footer {
  background-color: #ebf1f5;
}

.modal-title {
  font-weight: 600;
}

.modal-footer {
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

// Flexbox rows/columns //
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;

  > .panel {
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  .flex-column {
    width: 49%;
  }
}
